<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
    <table class="table table-bordered" style="text-align: center;">
        <thead style="background-color: darkcyan">
            <tr>
                <th>{{colName}}</th>
                <th>Image</th>
                <th>Video</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <!-- <input matInput [(ngModel)]="intro"/> -->
                    <textarea rows="4" cols="50" [(ngModel)]="name" (input)="name=$event.target.value"
                        value={{name}}></textarea>
                </td>
                <td>
            <tr *ngFor="let url of imgUrls; let i=index">
                <td><img [src]="url" height="50"></td>
                <td><button (click)="removeImgService(i)">X</button></td>
            </tr>
            <tr><input type='file' (change)="onSelectFileService($event)" /></tr>
            </td>
            <td>
                <!-- <tr>
                    <td>
                        <video width="320" height="240" controls>
                            <source [src]="https://www.w3schools.com/html/mov_bbb.mp4">
                        </video>
                    </td>
                    <td><button (click)="removeVideo()">X</button></td>
                </tr>
                <tr><input type='file' (change)="onSelectFileService($event)" /></tr> -->
            </td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close style="margin-right: 5px;">No</button>
    <button mat-button (click)="addNew()">Yes</button>
</mat-dialog-actions>